body {
    background-image: url("img/Whitede.png");
 }
 
 div.a {
    display: inline-block;
    background: wheat;
    border-radius: 10px;
    text-align: center;
    color:black
  }

div.b {
   display: inline-block;
    background:burlywood;
    border-radius: 60px;
    text-align: center;
    font-size: large;
    color:navy
}